@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter Tight', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black-bg: #141414;
  --primary-color: #f28627;
  --navbar-links: #e5e5e5;
  --title-color: #f2f2f2;
  --grey-color: #737174;
  --primary-hover: #df781d;
  --grey-fade: #73717486;
}
